#map {
    width: 1349px;
    height: 645px;
    top: -1;
}

body {
    max-width: 1280px;
    height: 720px;
    background-color: #040725;
    overflow-y: none;
}

.main-left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    left: 900;
    top: -1;
    width: 404px;
    height: 645px;
    max-width: 1000px;
    background-color: #302f37a9;
    backdrop-filter: blur(20px);
    position: absolute;
    z-index: 1000;
}

.main-infor {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 277px;
    height: 277px;
}

.main-left img {
    display: flex;
    width: 170px;
    padding: 20px;
    margin: 20px;
}

.main-infor input {
    width: 267px;
    padding: 12px;
    margin: 7px;
    color: rgb(0, 0, 0);
    background-color: white;
    border: solid 1px white;
    outline: none;
    border-radius: 8px;
    text-align: center;
}

button {
    width: 179;
    padding: 12px;
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    background-color: #0044ffd7;
}

.chat-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
}

.chat-input button {
    background-color: #001fa8;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 16px;
}

.main-right {
    display: flex;
    top: 30;
    width: 1349px;
    height: 500px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: #302f37a9;
    backdrop-filter: blur(20px);
    border-radius: 5px;
    z-index: 1000;
}

